* {
    margin: 0;
    padding: 0;
}

p {
    color: black;
    font-size: 1.5em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 26vh 32.5vh 13vh;
}

.grid div{
    border: 1px solid black;
}

header {
    background-color: red;
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

section {
    grid-row: 2 / span 1;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 13vh 13vh;
}

section div{
    margin: 1em;
    display: grid;
    align-items: center;
    justify-content: center;
}

section div:nth-child(3n+1){
    background-color: blue;
}

section div:nth-child(3n+2){
    background-color: yellow;
}

section div:nth-child(3n+3){
    background-color: green;
}

aside {
    grid-row: 3 / span 1 ;
    grid-column: 1 / span 3;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30vh;
    margin: 1em 0;
}

aside div{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 30vh;
    margin: 0 1em;
}

aside p {
    color: white;
}

article {
    grid-row: 4 ;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 13vh;
    align-items: center;
    justify-content: center;
} 

article div{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 11vh;
    margin: 1em;
}

@media screen and (max-width: 800px){
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 10vh 52vh 32vh 13vh;
    }

    section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 13vh 13vh;
    }

    section div:nth-child(3n+3){
        background-color: green;
        grid-column: span 2;
    }

    section div:nth-child(3n+1){
        background-color: blue;
        grid-column: span 1;
    }
    
    section div:nth-child(3n+2){
        background-color: yellow;
        grid-column: span 1;
    }

    article {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 13vh;;
    } 
    
    article div:last-child{
        grid-column: span 2;
    }
}

@media screen and (max-width: 480px){

    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 78vh 26vh 13vh;
    }

    section {
        grid-template-columns: 1fr;
        grid-template-rows: 13vh 13vh 13vh 13vh 13vh 13vh;
    }

    section div:nth-child(2){
        grid-column: span 1;
        grid-row: 2;
    }

    section div:nth-child(5){
        grid-column: span 1;
        grid-row: 5;
    }

    aside {
        grid-template-columns: 1fr;
        grid-template-rows: 13vh 13vh;
        margin: 0;
    }

    aside div{
        height: 11vh;
    }

    article {
        grid-template-columns: 1fr;
        grid-template-rows: 13vh 13vh 13vh;
    } 

    article div{
        height: 11vh;
    }

    article div:nth-last-of-type(2n+1){
        grid-column: span 2;
    }

}